// desktop or mobile first
$grid-default-breakpoint: 'desktop';

$dialog-typo: (
  desktop: (
    default: (
      font-size: 2.2rem,
      font-family: unquote('MatterSQ, -apple-system, sans-serif'),
      font-weight: 300,
      line-height: 1.22,
      color: var(--color-text),
    ),
    title: (
      font-size: var(--size-mouse),
      font-weight: 900,
    ),
    title--page: (
      font-size: var(--size-cat),
      line-height: 1.12,
      font-weight: 900,
    ),
    title--hero: (
      font-size: var(--size-pony),
      line-height: 1.12,
      font-weight: 900,
    ),
    lead: (
      font-size: var(--size-mouse),
      font-weight: bold,
    ),
    paragraph: (
      font-size: 2.2rem,
      font-weight: 300,
      line-height: 1.22,
    ),
    quote: (
      font-size: var(--size-rat),
      font-weight: bold,
    ),
    navigationTitles: (
      font-size: 1.6rem,
      font-weight: bold,
    ),
    navigation: (
      font-size: 1.4rem,
      font-weight: 300,
    ),
  ),
  phone: (
    default: (
      font-size: 1.8rem,
      line-height: 1.3,
    ),
  )
);

$dialog-breakpoints: (
  desktop: 'min-width: 769px',
  tablet: 'max-width: 768px',
  phone: 'max-width: 540px'
);
